/* Write your CSS code here */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 70vh;
}

.about-image {
  width: 150px;
}

.about {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
}
.about-description {
  color: #551e53;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
}
